modules = ["nodejs-18", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 4999
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[userenv]

[userenv.shared]
VITE_DEMO_USER = "demo"
VITE_DEMO_EMAIL = "demo@nfq.es"
VITE_GOOGLE_CLIENT_ID = "655770399950-5urs5vun75q59gffv0o0fu18rpivnb86.apps.googleusercontent.com"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
