@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-white text-slate-900 dark:bg-black dark:text-slate-200 transition-colors duration-300;
  }
}

/* Custom Scrollbar for Industrial Look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.font-mono-nums {
  font-variant-numeric: tabular-nums;
}