@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    @apply bg-white dark:bg-black transition-colors duration-300;
  }

  body {
    font-family: 'Inter', sans-serif;
    @apply text-slate-900 dark:text-slate-200 overflow-hidden;
  }
}

/* Custom Scrollbar for Industrial Look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.font-mono-nums {
  font-variant-numeric: tabular-nums;
}